@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-discord:before {
  content: "\e900";
}

._icon-github:before {
  content: "\e901";
}

._icon-link:before {
  content: "\e902";
}

._icon-linkedin:before {
  content: "\e903";
}

._icon-mail:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-telegram:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "JetBrains Mono";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "JetBrains Mono";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow: hidden;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  overflow: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem 1.875rem;
  border-radius: 15px;
  border: 2px solid #d01c1f;
  color: #d01c1f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d01c1f;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: -1;
}

.button:active {
  color: #fff;
}

.button:active::before {
  top: 0;
}

.button--fw {
  width: 100%;
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 1.3;
}

.title {
  font-weight: 700;
  line-height: 1.4;
}

._red {
  color: #d01c1f;
}

._underline {
  text-decoration: underline;
}

.skills-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.5;
}

.skills-decor__item-wrapper {
  position: absolute;
}

.skills-decor__item-wrapper:nth-child(even) {
  color: #d01c1f;
}

.skills-decor__item-wrapper:first-child {
  top: 45%;
  left: 5%;
}

.skills-decor__item-wrapper:last-child {
  top: 55%;
  right: 5%;
}

.skills-decor__item-wrapper:nth-child(2) {
  top: 30%;
  left: 20%;
}

.skills-decor__item-wrapper:nth-child(3) {
  top: 90%;
  left: 40%;
}

.skills-decor__item-wrapper:nth-child(4) {
  top: 15%;
  left: 60%;
}

.skills-decor__item-wrapper:nth-child(5) {
  top: 80%;
  right: 20%;
}

.skills-decor__item-wrapper:nth-child(6) {
  top: 80%;
  left: 15%;
}

.skills-decor__item-wrapper:nth-child(7) {
  top: 25%;
  right: 15%;
}

.skills-decor__item {
  display: inline-block;
}

.content-block {
  max-width: 36.25rem;
}

.content-block__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.content-block__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

#wave {
  -webkit-animation: wave 5s infinite linear;
          animation: wave 5s infinite linear;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 200vw;
  pointer-events: none;
}

#wave path {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(-30%, 0);
            transform: translate(-30%, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.language-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-selector__item {
  text-transform: uppercase;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.language-selector__item:last-child {
  opacity: 0.5;
}

._active .language-selector__item:last-child {
  opacity: 1;
}

._active .language-selector__item:first-child {
  opacity: 0.5;
}

.toggle-language-selector {
  height: 0.9375rem;
  width: 1.875rem;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
}

.toggle-language-selector__circle {
  position: absolute;
  top: 0.125rem;
  bottom: 0.125rem;
  left: 0.125rem;
  display: inline-block;
  width: 0.6875rem;
  border-radius: 50%;
  background-color: #d01c1f;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

._active .toggle-language-selector__circle {
  left: 1.0625rem;
}

.header {
  padding: 1.25rem 0;
  font-weight: 700;
  color: #fff;
  background-color: #d01c1f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.header._header-scroll {
  top: -12.5rem;
}

.header._header-show {
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-size: 1.25rem;
  position: relative;
  z-index: 5;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }

  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }

  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-weight: 700;
  position: relative;
}

.menu__link::before,
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 0.125rem;
  width: 0;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  pointer-events: none;
  opacity: 0;
}

.menu__link::before {
  left: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.menu__link::after {
  right: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.footer {
  color: #fff;
  text-align: center;
  padding: 1.25rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #d01c1f;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.footer._watcher-view::before {
  width: 100%;
}

.footer__container {
  position: relative;
  z-index: 2;
  opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

._watcher-view .footer__container {
  -webkit-transition: opacity 0.5s 1s, -webkit-transform 0.5s 1s;
  transition: opacity 0.5s 1s, -webkit-transform 0.5s 1s;
  transition: opacity 0.5s 1s, transform 0.5s 1s;
  transition: opacity 0.5s 1s, transform 0.5s 1s, -webkit-transform 0.5s 1s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.main-block {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.main-block__skills {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.offer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__title {
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.1;
}

.offer__title--simple {
  position: relative;
  -webkit-transform: translate(-30px, 0);
      -ms-transform: translate(-30px, 0);
          transform: translate(-30px, 0);
  opacity: 0;
}

.offer__title--simple::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4.6875rem;
  height: 0.125rem;
  background-color: #000;
}

.loaded .offer__title--simple {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.offer__title--red {
  position: relative;
  color: #d01c1f;
  -webkit-transform: translate(30px, 0);
      -ms-transform: translate(30px, 0);
          transform: translate(30px, 0);
  opacity: 0;
}

.offer__title--red::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.6875rem;
  height: 0.125rem;
  background-color: #d01c1f;
}

.loaded .offer__title--red {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.offer__text {
  max-width: 37.5rem;
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
}

.loaded .offer__text {
  -webkit-transition: opacity 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  transition: opacity 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
  transition: opacity 0.5s 0.3s, transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.offer__button {
  -webkit-transform: translate(0, 30px);
      -ms-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
}

.loaded .offer__button {
  -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
  transition: opacity 0.5s 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.about {
  overflow: hidden;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.picture-about {
  position: relative;
}

.picture-about__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.picture-about__decor-item {
  background-color: #d01c1f;
  padding-bottom: 11.2%;
  /* 56/500 */
  position: absolute;
  border-radius: 300px;
  -webkit-transform: scale(0.3) rotate(-30deg);
      -ms-transform: scale(0.3) rotate(-30deg);
          transform: scale(0.3) rotate(-30deg);
}

.picture-about__decor-item._watcher-view {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: -webkit-transform 2s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: transform 2s cubic-bezier(0.22, 0.68, 0, 1.71);
  transition: transform 2s cubic-bezier(0.22, 0.68, 0, 1.71), -webkit-transform 2s cubic-bezier(0.22, 0.68, 0, 1.71);
  -webkit-transform: scale(1) rotate(-30deg);
      -ms-transform: scale(1) rotate(-30deg);
          transform: scale(1) rotate(-30deg);
}

.picture-about__decor-item:first-child {
  width: 81.2%;
  /* 406/500 */
  left: 2.4%;
  /* 12/500 */
  top: 20.8%;
  /* 130/625 */
}

.picture-about__decor-item--border {
  width: 113.2%;
  /* 566/500 */
  left: -9.8%;
  /* -49/500 */
  top: 45.76%;
  /* 286/625 */
  border: 3px solid #d01c1f;
  background-color: transparent;
}

.picture-about__decor-item:last-child {
  width: 113.2%;
  /* 566/500 */
  left: -7.4%;
  /* -37/500 */
  bottom: 17.92%;
  /* 112/625 */
}

.picture-about__image {
  padding-bottom: 125%;
  position: relative;
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
}

.picture-about__image._watcher-view {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.picture-about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.hard-skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hard-skills__list {
  padding: 1.875rem;
  position: relative;
}

.hard-skills__list::before,
.hard-skills__list::after {
  content: "";
  width: 4.375rem;
  height: 4.375rem;
  border: 0.1875rem solid;
  position: absolute;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}

.hard-skills__list._watcher-view::before,
.hard-skills__list._watcher-view::after {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.hard-skills__list::before {
  border-color: #000;
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 10px;
}

.hard-skills__list::after {
  border-color: #d01c1f;
  right: 0;
  bottom: 0;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 10px;
}

.hard-skills__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.hard-skills__content .title {
  opacity: 0;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.hard-skills__content .title._watcher-view {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.hard-skills__content .text {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.hard-skills__content .text._watcher-view {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.list-hard-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-hard-skills__item {
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.list-hard-skills__item:nth-child(5) {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.list-hard-skills__item:nth-child(6) {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.list-hard-skills__item:nth-child(7) {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.list-hard-skills__item:nth-child(8) {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.list-hard-skills__item:nth-child(9) {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.list-hard-skills__item:nth-child(10) {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.list-hard-skills__item:nth-child(11) {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.list-hard-skills__item:nth-child(12) {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

._watcher-view .list-hard-skills__item {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

._watcher-view .list-hard-skills__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

._watcher-view .list-hard-skills__item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

._watcher-view .list-hard-skills__item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

._watcher-view .list-hard-skills__item:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

._watcher-view .list-hard-skills__item:nth-child(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

._watcher-view .list-hard-skills__item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

._watcher-view .list-hard-skills__item:nth-child(8) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

._watcher-view .list-hard-skills__item:nth-child(9) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

._watcher-view .list-hard-skills__item:nth-child(10) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

._watcher-view .list-hard-skills__item:nth-child(11) {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

._watcher-view .list-hard-skills__item:nth-child(12) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.list-hard-skills__item img {
  max-width: 100%;
}

.portfolio__title {
  text-align: center;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.portfolio__title._watcher-view {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__works:not(:last-child) {
  margin-bottom: 1.25rem;
}

.portfolio__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}

.portfolio__button-wrapper._watcher-view {
  -webkit-transition: opacity 0.5s 1s, -webkit-transform 0.5s 1s;
  transition: opacity 0.5s 1s, -webkit-transform 0.5s 1s;
  transition: opacity 0.5s 1s, transform 0.5s 1s;
  transition: opacity 0.5s 1s, transform 0.5s 1s, -webkit-transform 0.5s 1s;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.works__item {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  opacity: 0;
}

.works__item:nth-child(n+7) {
  display: none;
}

._show-all-works .works__item {
  display: block;
}

.works__item:first-child {
  -webkit-transform: scale(1.5) translate(-50px, -50px);
      -ms-transform: scale(1.5) translate(-50px, -50px);
          transform: scale(1.5) translate(-50px, -50px);
}

.works__item:nth-child(2) {
  -webkit-transform: scale(1.5) translate(0, -50px);
      -ms-transform: scale(1.5) translate(0, -50px);
          transform: scale(1.5) translate(0, -50px);
}

.works__item:nth-child(3) {
  -webkit-transform: scale(1.5) translate(50px, -50px);
      -ms-transform: scale(1.5) translate(50px, -50px);
          transform: scale(1.5) translate(50px, -50px);
}

.works__item:nth-child(4) {
  -webkit-transform: scale(1.5) translate(-50px, 50px);
      -ms-transform: scale(1.5) translate(-50px, 50px);
          transform: scale(1.5) translate(-50px, 50px);
}

.works__item:nth-child(5) {
  -webkit-transform: scale(1.5) translate(0, 50px);
      -ms-transform: scale(1.5) translate(0, 50px);
          transform: scale(1.5) translate(0, 50px);
}

.works__item:nth-child(6) {
  -webkit-transform: scale(1.5) translate(50px, 50px);
      -ms-transform: scale(1.5) translate(50px, 50px);
          transform: scale(1.5) translate(50px, 50px);
}

._watcher-view .works__item {
  -webkit-transition: opacity 1s, -webkit-filter 0.3s, -webkit-transform 1.5s;
  transition: opacity 1s, -webkit-filter 0.3s, -webkit-transform 1.5s;
  transition: filter 0.3s, opacity 1s, transform 1.5s;
  transition: filter 0.3s, opacity 1s, transform 1.5s, -webkit-filter 0.3s, -webkit-transform 1.5s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

._watcher-view .works__item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

._watcher-view .works__item:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

._watcher-view .works__item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

._watcher-view .works__item:nth-child(5) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

._watcher-view .works__item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.works__item-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 59.736842%;
  /* 227/380 */
  border: 0.1875rem solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.works__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8125rem;
  text-align: center;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  opacity: 0;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.works__title {
  color: #d01c1f;
  text-transform: uppercase;
}

.works__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.3125rem;
}

.contacts__title {
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
}

.contacts__title._watcher-view {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.contacts__list {
  max-width: 50.625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__item {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

._watcher-view .contacts__item {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.contacts__item:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.contacts__item:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.contacts__item:nth-child(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.contacts__item:nth-child(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.contacts__item:nth-child(5) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.contacts__item:nth-child(6) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.contacts__item:nth-child(7) {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

.contacts__item:nth-child(8) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.contacts__item:nth-child(9) {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

.contacts__item:nth-child(10) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contacts__link::before {
  font-size: 1.25rem;
  color: #d01c1f;
}

@-webkit-keyframes contacts-icon {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes contacts-icon {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  25% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  75% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

@media (min-width: 29.99875em) {
  .works {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .about__container {
    position: relative;
  }

  .about__container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.9375rem;
    height: 6px;
    background-color: #d01c1f;
    width: calc(100% - 1.875rem);
    z-index: 3;
    border-radius: 10px;
  }

  .about__picture {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .hard-skills__list {
    margin: 1.25rem;
  }
}

@media (min-width: 77.5em) {
  .hard-skills__container {
    gap: 4.375rem;
  }

  .list-hard-skills {
    gap: 3.125rem;
  }
}

@media (min-width: 75em) {
  .title {
    font-size: 3rem;
  }

  .offer {
    gap: 2.5rem;
  }

  .offer__title {
    font-size: 4rem;
  }

  .hard-skills {
    padding-top: 9.375rem;
  }

  .hard-skills {
    padding-bottom: 6.25rem;
  }

  .portfolio {
    padding-top: 6.25rem;
  }

  .portfolio {
    padding-bottom: 6.25rem;
  }

  .portfolio__title:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .works__title {
    font-size: 1.875rem;
  }

  .contacts {
    padding-top: 4.375rem;
  }

  .contacts {
    padding-bottom: 4.375rem;
  }

  .contacts__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 62em) {
  .list-hard-skills {
    gap: 1.25rem;
  }
}

@media (max-width: 48em) {
  .hard-skills__container {
    gap: 1.875rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.875rem;
  }

  .offer {
    gap: 1.25rem;
  }

  .offer__title {
    font-size: 2rem;
  }

  .hard-skills {
    padding-top: 3.125rem;
  }

  .hard-skills {
    padding-bottom: 3.125rem;
  }

  .portfolio {
    padding-top: 3.125rem;
  }

  .portfolio {
    padding-bottom: 3.125rem;
  }

  .portfolio__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .works__title {
    font-size: 1.125rem;
  }

  .contacts {
    padding-top: 3.125rem;
  }

  .contacts {
    padding-bottom: 3.125rem;
  }

  .contacts__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .content-block {
    max-width: 25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem 0.9375rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #fff;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
    background-color: #d01c1f;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #d01c1f;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
    border-radius: 10px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .skills-decor__item-wrapper:first-child {
    top: 15%;
  }

  .skills-decor__item-wrapper:last-child {
    top: 75%;
  }

  .content-block__title {
    text-align: center;
  }

  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    gap: 1.25rem;
  }

  .about__picture {
    position: relative;
    max-width: 21.875rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }

  .about__picture::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.9375rem;
    height: 6px;
    background-color: #d01c1f;
    width: calc(100% - 1.875rem);
    z-index: 3;
    border-radius: 10px;
  }

  .hard-skills__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .hard-skills__list {
    max-width: 25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .portfolio__button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .works__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .offer {
      gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .offer {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .offer__title {
      font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.2727272727rem  +  3.6363636364vw , 4rem )) {
    .offer__title {
      font-size: calc(2rem + 2 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.8522727273rem  +  11.3636363636vw , 9.375rem )) {
    .hard-skills {
      padding-top: clamp( 3.125rem , 0.8522727273rem  +  11.3636363636vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.8522727273rem  +  11.3636363636vw , 9.375rem )) {
    .hard-skills {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .hard-skills {
      padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .hard-skills {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .portfolio {
      padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .portfolio {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .portfolio {
      padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
    .portfolio {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .portfolio__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .portfolio__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
    .works__title {
      font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8522727273rem  +  1.3636363636vw , 1.875rem )) {
    .works__title {
      font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .contacts {
      padding-top: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .contacts {
      padding-top: calc(3.125rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .contacts {
      padding-bottom: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .contacts {
      padding-bottom: calc(3.125rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .contacts__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .contacts__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 48em) and (max-width: 77.5em) {
@supports (gap: clamp( 1.875rem , -2.1927966102rem  +  8.4745762712vw , 4.375rem )) {
    .hard-skills__container {
      gap: clamp( 1.875rem , -2.1927966102rem  +  8.4745762712vw , 4.375rem );
    }
}

@supports not (gap: clamp( 1.875rem , -2.1927966102rem  +  8.4745762712vw , 4.375rem )) {
    .hard-skills__container {
      gap: calc(1.875rem + 2.5 * (100vw - 48rem) / 29.5);
    }
}
}

@media (min-width: 62em) and (max-width: 77.5em) {
@supports (gap: clamp( 1.25rem , -6.25rem  +  12.0967741935vw , 3.125rem )) {
    .list-hard-skills {
      gap: clamp( 1.25rem , -6.25rem  +  12.0967741935vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -6.25rem  +  12.0967741935vw , 3.125rem )) {
    .list-hard-skills {
      gap: calc(1.25rem + 1.875 * (100vw - 62rem) / 15.5);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 47.99875em) {
  .works {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff;
  }

  .button:hover::before {
    top: 0;
  }

  .header__logo:hover {
    -webkit-animation: 1s cubic-bezier(0.17, 0.67, 1, 1.23) logo;
            animation: 1s cubic-bezier(0.17, 0.67, 1, 1.23) logo;
  }

  .menu__link:hover::before,
  .menu__link:hover::after {
    opacity: 1;
    width: 50%;
  }

  .works__item:hover {
    -webkit-filter: none;
            filter: none;
  }

  .works__item-wrapper:hover {
    border-color: #d01c1f;
  }

  .works__item:hover .works__image {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .works__item:hover .works__content {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  .contacts__link:hover {
    color: #d01c1f;
  }

  .contacts__link:hover::before {
    -webkit-animation: contacts-icon 1s cubic-bezier(0.25, 0.75, 0.5, 1.25);
            animation: contacts-icon 1s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  }
}